extends _page
prepend navigation
    - title="History"
block content
    .max60
        +card()
            div.magazine
                .articleTitle History
            
                div.articleHeading Contents 
                img.image_left(src="https://www.agilitynet.co.uk/magazineimages/images2004/rfid2.gif" width=96 height=73)
                img.image_left(src="https://www.agilitynet.co.uk/magazineimages/images2017/agilityaid_logo.jpg" width=92 height=50)
                img.image_left(src="https://www.agilitynet.co.uk/magazineimages/images2003/nancyhudsonanddogs.jpg" width=113 height=109)
                img.image_left(src="https://www.agilitynet.co.uk/magazineimages/images/contents_judges.jpg" width=100 height=92)
                img.image_left(src="https://www.agilitynet.co.uk/magazineimages/images/contents_arena2001.jpg" width=100 height=109)
                img.image_left(src="crufts_125yearlogo.jpg" width=134 height=150)
                img.image_left(src="https://www.agilitynet.co.uk/magazineimages/images/contents_bestdressed.jpg" width=100 height=134)
                img.image_left(src="https://www.agilitynet.co.uk/magazineimages/images/contents_peterlewis.jpg" width=100 height=144)
                img.image_centre(src="clipart_showjumpier.jpg" width=106 height=80)
                img.image_left(src="https://www.agilitynet.co.uk/magazineimages/images/contents_bretonsdtc.jpg" width=100 height=83)
                img.image_left(src="https://www.agilitynet.co.uk/magazineimages/images 2012/jerseyeuropeanfestival_ferry.jpg" width=75 height=75)
                img.image_left(src="https://www.agilitynet.co.uk/magazineimages/images2018/longleat_liontrophy.jpg" width=138 height=152)
                img.image_left(src="https://www.agilitynet.co.uk/magazineimages/images2009/portiapoodle_withcrystal_jaynebray.jpg" width=68 height=114)
                img.image_left(src="https://www.agilitynet.co.uk/magazineimages/images/contents_thoughtsofajudge.jpg" width=100 height=172)
                img.image_left(src="https://www.agilitynet.co.uk/magazineimages/images/agilityisfun_rubyweaving.jpg" width=100 height=100)
                img.image_left(src="https://www.agilitynet.co.uk/magazineimages/images2008/clipart_greekdramamasks.jpg" width=124 height=64)
