extends _page

prepend navigation
    - crumb="About"
    - title="About Us"

block content
    .max30
        +card("Who are we?", "wrench")
            p.
                Agility Plaza is run by the same agility enthusiasts who brought you the e-gility tablet system
