extends _page

prepend navigation
    - home=true
    - crumb="Home"
    - title="Home"

append scripts
    +use_grids()

block content

    if (session == undefined || session.authenticated == undefined || !session.authenticated || (session.access==0 && !session.registrationComplete))
        .mygrid
            .grid-item
                +card("Login")
                    +form({id: "loginForm", autocomplete: true})
                        .font80
                            +input("email", "username", "authenticate.email", "Your email", {label: 0, icon: "envelope"})
                            +input("password", "password", "authenticate.password", "Your password", {label: 0, icon: "lock"})
                        .row
                            .col-xs-4
                                +button("submit", "Login", "sign-in", {small: true})
                            .font80.col-xs-8.text-xs-right
                                div Not a member? #[a(href="javascript:showLoading();window.location='/register'") Register]
                                div Forgot #[a(href="javascript:showLoading();window.location='/password_forgotten'") Password?]
            .grid-item
                +card("Why Register?")
                    p.
                        Registering is free and once you are on-board you will be able to:
                    ul
                        li Access the sport's largest results database (360,000 runs).
                        li See what the rings are up to at any live e-gility show.
                        li Follow classes results as they unfold.
                        li Enter e-gility shows - KC & UKA.
                        li Check your dog's progress.
                        li And much more...

    else

        .banner(style="background-color: silver")
            div(style="background-color: white")
                img(src="/img/agilitynet_logo.svg" width="250rem")

            +grid()
                +gridcard2()
                    .news-title Agility Plaza Launch

                    img.news-image(src="/img/pexels/fireworks.jpeg" width="100%")

                    .news-heading.
                        Welcome to the Plaza
                    .news-intro.
                        For months now we have been beavering away to create a new destination for agility competitors.
                        Working with partners from e-gility, UK Agility and SWAP On-line we aim to create something really
                        special for the agility community.
                    .news.
                        For the first time, you will be able to enter UK Agility and Kennel Club shows on the same site.
                        You will also be able to peruse the UK’s largest agility results database with around 360,000 runs
                        at launch and more being added each week. And, with live links to e-gility shows, you can see
                        exactly what is happening in the rings and how your friends are getting on. You will even be able
                        to use the database to automatically check your dog’s progression through the levels at UKA.
                    .news.
                        All this is just the starting point. Agility Plaza has been designed as a ‘Platform’ for the sport
                        so that we can easily add content and services that will benefit the whole community. We have lots
                        of exciting ideas for the future, but would also welcome suggestions.
                    .news.
                        And as Agility Plaza has been built using the latest technology, it is just at home on tablets and
                        phones as on laptops and desktops. You can even install it as an app on your android or apple
                        device (see Mobile App article).
                    .news.
                        In our enthusiasm to offer all this to you, we have launched the site as soon as we possibly could
                        so please forgive the ‘rough edges’. Over the coming weeks we will be honing and refining the way it
                        works so do ‘bear with’.


                +gridcard()
                    .news-title Mobile App
                    img.news-image(src="/img/pexels/mobile-phone.jpeg" width="100%")
                    .news-heading.
                        Install Agility Plaza on your mobile device
                    .news-intro2.
                        Agility Plaza has been designed as a 'Web App'. This means that you can install it on your
                        iPhone/iPad or Android device and it behaves much like a conventional app.
                    .news.
                        Unlike regular apps, you can't (currently) install web apps directly from an app store. Instead
                        just follow the instructions below:

                    table.table.table-sm.font90
                        tr
                            th(colspan=2).font110 iPhone/iPad
                        tr
                            td 1.
                            td.
                                Open www.agilityplaza.com in you Safari web browser. Even if you use another browser, only
                                Apple's own browser has the capability to install a web app.
                        tr
                            td 2.
                            td
                                span.
                                    Press the menu button:
                                img(src="/img/safari-menu.png" width="25%")
                        tr
                            td 3.
                            td
                                span.
                                    Press the Add to Home Screen button:
                                img(src="/img/addhome.png" width="100%")
                        tr
                            td 4.
                            td.
                                On the 'Add to Home' popup window press the 'Add' button and an Agility Plaza icon will be
                                added to your device. Just press this whenever you want to open the app.

                    table.table.table-sm.font90
                        tr
                            th(colspan=2).font110 Android
                        tr
                            td 1.
                            td.
                                Install the chrome browser if not already on you device (some devices are still shipped
                                with the inferior android browser).
                        tr
                            td 2.
                            td.
                                Open www.agilityplaza.com in chrome.
                        tr
                            td 3.
                            td.
                                Press the chrome menu button (three vertical dots) and select 'Add to Home Screen' and then
                                'Add' on the popup window.

                +gridcard()
                    .news-title All Change at KC?
                    img.news-image(src="/img/competition/kc.jpg")
                    .news-intro2.
                        As some of you will already know, there are a couple of very significant proposals being discussed
                        at the KC Agility Liaison Council Meeting in January.
                    .news
                        | Options for both grading and heights are being considered which could, potentially, be very
                        | significant for the sport. These are on the agenda for 18th January. The relevant discussion
                        | documents can be found
                        |
                        a(href="https://www.thekennelclub.org.uk/media/1159230/annex-f-grading-panel-options-paper-version-2.pdf") here
                        |  (grading) and
                        |
                        a(href="https://www.thekennelclub.org.uk/media/1159241/annex-h-kc-height-specification-panel-discussion-item.pdf") here
                        |  (heights).

                    +hint.
                        Agility Plaza has no opinion on these matters - we are just here to inform.

                +gridcard()
                    .news-title Fantastic Images
                    hr
                    img.news-image(src="/img/sponsor/Yellow hound.jpg" width="100%")
                    hr
                    .news-intro2.
                        We would like to say a special 'thank you' to Chris Tarling at Yellow Hound for supplying a
                        collection of stunning agility images for this site.
                    .news.
                        We will be using them to dress our news pages, and for backdrops to add texture to our pages.
                    .news
                        span
                            | To find out more about Yellow Hound, checkout their website (
                            a(href="http://www.yellowhound.co.uk") www.yellowhound.co.uk
                            | )

                +gridcard()
                    img.news-image(src="/img/FB-f-Logo__blue_114.png")
                    hr
                    .news-heading.
                        Tell us what you think
                    .news.
                        Let us know your thoughts on our new website or ask for help by joining our facebook group.
                    .news
                        a(href="https://www.facebook.com/groups/371698413276745/") Click Here
