extends _page

prepend navigation
    - crumb="~"
    - title = "Email Verified"

block content

    .max30
        +card("Email address verifieds")
            p.
                Your new email address has been confirmed and your account has been
                updated. Remember to login as '#{api.competitor.email}' next time.
