extends _page

prepend navigation
    - crumb="Contact"
    - title="Contact Us"

block content

    .max30
        +card("How to get in touch?", "wrench")
            p.
                For enquiries about show entries, registrations or accounts please email support@agilityplaza.com
            p.
                Any requests regarding data or privacy issues can be emailed to data@agilityplaza.com