extends ../_document

block body

    .max45
        +card("System Error", "ban")
            p.
                Oh dear! Something has gone wrong
            p
                | Please try again and if you keep getting the problem you can email
                a(heref="mailto:support@agilityplaza.com") support@agilityplaza.com
                | .

