extends _page

prepend navigation
    if (hasName(breadcrumbs, api.competition.uniqueName))
        -crumb="Enter"
    else
        -crumb="Enter " +  api.competition.uniqueName;
    - icon="thumbs-o-up"
    - title = api.competition.name

append scripts
    +bind_form()


block content
    .max40
        +card("Step 4 - Offer to Help", icon)
            if !api.competitors
                .card-statement Something seems to have gone wrong
            else
                +form()
                    each competitor in api.competitors
                        - var index = api.competitors.indexOf(competitor)
                        - var bind = "competitors." + index
                        +cardSection(competitor.name, "user")
                            +hint.
                                Tick the appropriate #[strong e-gility skills] box if you have used the tablet system
                                before. Select the times you would like to help, and if you have a preference, the judge
                                who's ring you want to work on. If you are offering as part of a club or group enter
                                the #[strong Club/Group] name in the space provided. You
                                can leave this section blank if #[strong #{competitor.name}] will not be attending the
                                show or is not available to help.

                            table.table.table-sm.transparent
                                tr.form-control-label.col-form-label
                                    th
                                    th.text-xs-center Ring Manage
                                    th.text-xs-center Scrime
                                    th.text-xs-center Check In
                                tr
                                    td.align-middle.form-control-label.col-form-label.width_quarter e-gility skills:

                                    td.text-xs-center
                                        +checkbox("ringManage" + index, bind + ".skills.ringManage", "")
                                    td.text-xs-center
                                        +checkbox("scrime" + index, bind + ".skills.scrime", "")
                                    td.text-xs-center
                                        +checkbox("check" + index, bind + ".skills.check", "")

                            hr
                            .form-control-label.col-form-label Would like to help:
                            table.table.table-sm
                                tr
                                    th Day
                                    th.text-xs-center AM
                                    th.text-xs-center PM
                                    th Judge
                                each day in competitor.helpDays
                                    - var dayIndex = competitor.helpDays.indexOf(day)
                                    - var dayBind = bind + ".helpDays." + dayIndex
                                    tr
                                        td.align-middle=dateFormat(day.date, "ddd")
                                        td
                                            +checkbox("am", dayBind + ".am", "")
                                        td
                                            +checkbox("pm", dayBind + ".pm", "")
                                        td
                                            if api.judges
                                                +select("handler" + dayIndex, dayBind + ".judge", "", api.judges[dayIndex].names)


                            hr
                            +input("text", "helpGroup", bind + ".helpGroup", "Club/Group")



                    +button("submit", "Continue", "check")
