extends _page

prepend navigation
    - crumb="~"
    - title = "Forgotten Password"

append scripts
    +bind_form()

block content

    .max30
        +card(title)

            +hint().
                Please enter the email address you use to login to your account. If you no longer use this email
                please contact support@agilityplaza.com.

            +form()
                +input("email", "email", "email", "Your email", 0, "envelope")
                +button("submit", "Submit", "check")