extends _page

prepend navigation
    - crumb="~"
    - title = "Reset Password"

append scripts
    +bind_form()

    script.
        if (apiData.competitors.length>1) {
            $("#part2").hide()
        }

        $("[name=idCompetitor]").change(function() {
            $("#part2").show()
        })




block content

    .max30

            if !api.competitors
                .card-statement Sorry something has gone wrong.
            else
                .max40
                    +card("Reset Password")
                        +form()
                            #part1
                                if api.competitors.length>1
                                    p There is more than one logon using this email address. Please select the one for which you need to reset the password.
                                    each competitor in api.competitors
                                        -var index = api.competitors.indexOf(competitor)
                                        -var nameCode = competitor.name + " (" + competitor.code + ")"
                                        div.ml-2
                                            +radio("idCompetitor", competitor.idCompetitor, "idCompetitor", nameCode)
                                hr
                            #part2
                                +input("password", "password", "password1", "New password")
                                +input("password", "password", "password2", "Re-enter new password")
                                +button("submit", "Submit", "check")