extends _page

prepend navigation
    - crumb="~"
    - title = "Forgotten Password"

block content

    .max30
        +card(title)
            p We have sent an email to #[strong= query.email] to make sure that it is correct. To reset your password, please check your inbox, then follow the instructions.
