extends _page

prepend navigation
    - crumb="~"
    - title = "Reset Password - Complete"

block content
    .max30
        +card(title)

            div Your password has now been reset. You can press the button below to logon to Agility Plaza.

            hr

            +button("link", "Login Now", "sign-in", {href: "/"})