extends _page

prepend navigation
    - crumb="Refund"
    - title = "Request Refund"





block content

    .max35
        +card(title, "Refund Confirmation")
            if error
                div
                    | Sorry, we are unable to confirm your refund request for the following reason:&nbsp
                    font.emphasize=comment
            else
                div Thank you for confirming your refund request. We will now process this and email you when we make the funds transfer.
