extends _page

prepend navigation
    - crumb="~"
    - title = "Choose Password"

append scripts
    +bind_form()


block content

    .max30

            if !api.competitor
                +card("Registration")
                .card-statement Sorry something has gone wrong.
            else
                +card("Registration Step 1 - Choose your password")
                    +hint.
                        Choose a password for your new Agility Plaza login. It must be at least 8 characters long and
                        contain at least one letter (a-z) and one digit (0-9).
                    +form()
                        +input("password", "password", "password1", "New password")
                        +input("password", "password", "password2", "Re-enter new password")
                        .alert.alert-terms
                            .font-weight-bold What am I Confirming?
                            .font90.
                                By pressing the 'Confirm' button you agree to the Data Protection Statement below.
                        +button("submit", "Confirm", "check")
                        .mb-1
                        +cardSection("Data Protection", "balance-scale")
                            .font90
                                p.font-weight-bold Data Protection Statement
                                p.
                                    Agility Plaza is operated by #[strong e-gility].
                                    Over the years various show processors including UK Agility, Agility Shows Online, Agility Aid and
                                    SWAP Live have provided e-gility with the necessary data to run paperless shows.
                                p.
                                    To save you having
                                    to re-enter all your data and to re-unite you with your results information, we can merge all these
                                    details into your account. However before we can do this, we need your permission for Agility Plaza
                                    to access this data.
                                p.
                                    By pressing confirm, you are giving us permission to do this and
                                    for any of the show processors listed above as well as e-gility to supply this
                                    information to Agility Plaza.
                                p.
                                    If you do not agree to the transfer of this data to Agility Plaza then DO NOT press
                                    confirm and email support@agilityplaza.com instead.
                                p.
                                    Agility Plaza is registered with the Information Commissioner (see our Privacy Policy for more details)

