extends _page

prepend navigation
    - crumb="Transfer Camping"
    - title = "Transfer Camping"

append scripts
    +bind_form("")

    script.
        $(".competitorCode").keyup(function (event) {
            var competitorCode = this.value
            if (competitorCode.length == 6) {
                fetch(apiData.lookup + competitorCode, function (data) {
                    $("#idAccountHandler").val(data.idAccountHandler)
                    $("#accountCode").val(data.accountCode)
                    $("#accountName").val(data.accountName)
                })
            } else {
                $("#givenName").val("")
                $("#familyName").val("")
            }
        })

block content

    .max35
        +card(title, "contact")
            +form()
                +hint().
                    Enter the 6 digit handler code for the person to whom you are transferring your camping. This is shown next to their name on their "My Household" page.
                    When you enter a valid code, their account details will be displayed below.

                +fieldset("Handler Details")
                
                    +input("text", "competitorCode", "competitorCode", "6 Digit Code", {class: "competitorCode", noautocomplete: true})
                +fieldset("Account Details")
                    +input("hidden", "idAccountHandler", "idAccountHandler", "")
                    +input("readonly", "accountCode", "accountCode", "Account Code")
                    +input("readonly", "accountName", "accountName", "Account Holder")

                +button("submit", "Transfer", "check")
