extends _page

prepend navigation
    - crumb="Camping"
    - icon="bed"
    - title = "Tuffley Camping Acknowledgement"


block content

    .max30
        +card(title, "bed")
            div.
                Thank you for your application to camp a Tuffley. This is to acknowledge that we have received your
                request. We will email you shortly to confirm whether you have been allocated a provisional place or
                have been placed on the waiting list.



